<div>
  <h1 x-large class="sample-content">Val Kilmer Tamagachi</h1>

  <hr>

  <div>
    Keep Val Kilmer
    <pre>Healthy, Happy, and Alive</pre>
  </div>

  <hr>

  <div>
    <h4>Local State</h4>

   
    <!--
        <input type="text" [value]="localState.value" (input)="localState.value = $event.target.value" autofocus>
        Rather than wiring up two-way data-binding ourselves with [value] and (input)
        we can use Angular's [(ngModel)] syntax
        <input type="text" name="textInput" [(ngModel)]="localState.value" autofocus>
      -->
      <div>
        {{localState.kilmer | json}}
      </div>


      <button (click)="onFeedKilmer()">Feed Kilmer</button>
      <button (click)="putKilmerToSleep()">{{sleepButtonText}}</button>
  </div>

</div>
